<!DOCTYPE html>
<html class="{{ get_template_mode(false) }}">

<head>
    {% set title = block('title') is defined ? block('title') : Lang.get('general.support_portal')|e %}
    <title>{{ company }} - {{ title|raw }}</title>

    {% block meta %}{% endblock %}
    <meta property="og:title" content="{{ title|raw }}" />
    <meta property="og:image" content="{{ get_logo() }}" />

    {% include 'frontend.' ~ template ~ '.head_common' %}

    {% block scripts_header %}{% endblock %}

    {{ View.fireHook('frontend.head') }}

    {% set route = Route.currentRouteName() %}
</head>

<body class="sp-bg-secondary sp-text-primary print:sp-bg-primary">

    {{ View.fireHook('frontend.body_start') }}


    <header id="header" class="header">
            <div class="topbar">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="topbar-left">
                                            <div class="header-icon">
                                            <ul class="tpc-icon">
                                                <li><a title="WhatsApp" href="https://wa.me/message/3WTERQ4GDEHFE1"><img src="https://dev.tpc-hosting.net/assets/img/whatsapp.png" alt="WhatsApp" /> </a></li>
                                                <li><a title="Messenger" href="https://m.me/TheProjektCompany"><img src="https://dev.tpc-hosting.net/assets/img/messenger.png" alt="Messenger" /> </a></li>
                                                <li><a title="Telegram" href="https://t.me/TPC_HostingBot"><img src="https://dev.tpc-hosting.net/assets/img/telegram.png" alt="Telegram" /> </a></li>
                                                <li><a title="SMS" href="sms:+37282721090?&amp;body=Hallo, we have a question..."><img src="https://dev.tpc-hosting.net/assets/img/sms.png" alt="SMS" /></a></li>
                                                <li><a title="Contact" href="https://tpc-hosting.com/contact/"><img src="https://dev.tpc-hosting.net/assets/img/email.png" alt="E-mail" /></a></li>
                                                <li><a title="Phone" href="tel:+40316318458"><img src="https://dev.tpc-hosting.net/assets/img/phone.png" alt="Phone" /></a></li>
                                                <li><a title="discord" href="https://discord.gg/29T6Ns6F"><img src="https://dev.tpc-hosting.net/assets/img/discord.png" alt="discord" /></a></li>
                                            </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="topbar-right">
                                            <!-- <a href="https://tpc-hosting.net/cart.php?a=view">Coș</a> -->
                                            <a href="#">MY ACCOUNT</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
    </header>

    <header class="sp-sticky sp-top-0 sp-z-10002 sp-px-6 sp-bg-primary lg:sp-px-8 print:sp-static print:sp-px-0 print:sp-shadow-none
                   {% if not (route starts with 'core.frontend.home') or not show_search %}sp-shadow{% endif %}">
        <div class="sp-container sp-relative sp-py-2 sp-m-auto print:sp-max-w-full">
            {{ View.fireHook('frontend.header_start') }}

            {% if show_search %}
            <div class="sp-search sp-absolute sp-hidden sp-flex sp-items-center sp-h-full sp-w-full sp--mt-2
                        sp-bg-primary sp-z-10 print:sp-hidden">
                <div class="sp-grow sp-w-full">
                    <form name="search" action="{{ route('core.frontend.search') }}" method="get">
                        <input type="search" name="query" placeholder="{{ Lang.get('general.search') }}" />
                    </form>
                </div>
                <div class="sp-flex-none">
                    <div class="sp-search-close sp-button sp-ml-3">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="sp-flex sp-items-center sp-h-full">
                <div class="sp-grow">
                    <a href="{{ route('core.frontend.home') }}">
                        <img src="{{ get_logo(false) }}" alt="{{ company }}" class="sp-logo sp-inline dark:sp-hidden print:sp-inline" />
                        <img src="{{ get_logo(true) }}" alt="{{ company }}" class="sp-logo sp-hidden dark:sp-inline print:sp-hidden" />
                    </a>
                </div>

                <div class="sp-flex-none print:sp-hidden">
                    {% if not (route starts with 'core.frontend.home') and show_search %}
                        <a class="sp-search-button sp-p-2 sp-mr-2">
                            <i class="fas fa-search"></i>
                        </a>
                    {% endif %}
                </div>

                <div class="sp-flex-none sp-hidden lg:sp-block print:sp-hidden">
                    {% if Config.get('settings.website_url') is not empty %}
                        <a href="{{ Config.get('settings.website_url') }}" class="sp-mr-4">
                            {{ Lang.get('core.back_to_website') }}
                        </a>
                    {% endif %}

                    {% if auth_check() %}
                        <div class="sp-dropdown-container sp-relative sp-ml-1">
                            <a class="sp-action">
                                <img class="sp-avatar sp-max-w-sm sp-shadow" src="{{ auth_user().avatar_url }}" />&nbsp;
                                {{ auth_user().formatted_name }}
                                <i class="fas fa-chevron-down sp-ml-1 sp-text-xs" aria-hidden="true"></i>
                            </a>
                            <div class="sp-dropdown sp-right-0 sp-mt-2">
                                {% include 'frontend.' ~ template ~ '.navigation' with {'account': true} %}
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ route('user.login') }}">
                            {{ Lang.get('user.login') }}
                        </a>
                    {% endif %}
                </div>

                <div class="sp-flex-none sp-leading-0 lg:sp-hidden print:sp-hidden">
                    <div class="sp-mobile-nav-button sp-inline-block">
                        <div class="sp-px-3/2 sp-py-1 sp-rounded sp-border sp-cursor-pointer">
                            <svg focusable="false" viewBox="0 0 24 24">
                                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            {% block header %}{% endblock %}

            {{ View.fireHook('frontend.header_end') }}
        </div>
    </header>

    <nav class="sp-mobile-nav sp-hidden sp-fixed sp-w-full sp-top-0 sp-px-6 sp-bg-primary-800 sp-shadow-inner
                sp-text-white sp-overflow-y-auto sp-z-10001 lg:sp-hidden print:sp-hidden">
        <div class="sp-container sp-py-6 sp-m-auto">
            {% include 'frontend.' ~ template ~ '.navigation' %}
        </div>
    </nav>

    {% block precontent %}{% endblock %}

    <div class="sp-relative xs:sp-px-6 lg:sp-static lg:sp-px-8 print:sp-px-0">
        <div class="sp-container sp-mx-auto sp-my-4 xs:sp-my-6 lg:sp-my-8 print:sp-max-w-full">

            {{ View.fireHook('frontend.wrapper_start') }}

            <div class="sp-px-6 sp-mb-4 sp-leading-none xs:sp-px-0 xs:sp-mb-6 lg:sp-mb-8">
                <h1 class="sp-hidden md:sp-block sp-mb-3 sp-text-3xl sp-font-normal print:sp-block">
                    {{ title|raw }}
                </h1>

                <div class="sp-breadcrumb md:sp-text-sm print:sp-mb-6">
                    <a href="{{ route('core.frontend.home') }}">{{ Lang.get('general.support_portal') }}</a> &nbsp;&raquo;&nbsp;
                    {% block breadcrumb %}{% endblock %}
                </div>

                <hr class="sp-hidden sp-mx-0 print:sp-block" />
            </div>

            <div class="sp-flex sp-flex-wrap-reverse sp-min-w-0 lg:sp-flex-nowrap">

                <div class="sp-content sp-grow sp-w-full sp-overflow-hidden lg:sp-w-auto">

                    {{ View.fireHook('frontend.content_start') }}

                    <div class="sp-content-inner sp-p-6 sp-bg-primary sp-break-words xs:sp-rounded print:sp-p-0">

                        {{ View.fireHook('frontend.content_inner_start') }}

                        {% block subtitle %}{% endblock %}

                        <!-- Box to display success/error messages generated by JavaScript -->
                        <div class="sp-alert sp-hidden" id="js-message-box"></div>

                        {% if Session.has('success') %}
                            <div class="sp-alert sp-alert-success">{{ Session.get('success')|raw }}</div>
                        {% elseif Session.has('error') %}
                            <div class="sp-alert sp-alert-error">{{ Session.get('error')|raw }}</div>
                        {% elseif Session.has('warning') %}
                            <div class="sp-alert sp-alert-warning">{{ Session.get('warning')|raw }}</div>
                        {% endif %}

                        {% if errors|default is not empty and errors.count() %}
                            <div class="sp-alert sp-alert-error">
                                <strong>{{ Lang.get('messages.please_correct') }}</strong><br />
                                {% for error in errors.all() %}
                                    {{ error }}<br />
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% block content %}{% endblock %}

                        {{ View.fireHook('frontend.content_inner_end') }}

                    </div>

                    {{ View.fireHook('frontend.content_end') }}

                </div>

                {% block sidebar %}{% endblock %}

                {{ View.fireHook('frontend.wrapper_end') }}
            </div>

        </div>
    </div>

    <div class="sp-px-6 sp-mt-6 sp-border-t sp-border-tertiary print:sp-px-0">
        <div class="sp-container sp-py-6 sp-mx-auto print:sp-max-w-full">
            <div class="sp-flex sp-flex-wrap sp-items-center">
                <div class="sp-grow sp-w-full sp-mb-3 sm:sp-w-auto sm:sp-mb-0">
                    <span class="sp-text-tertiary">
                        &copy; {{ company }}
                    </span>
                </div>
                {% if Config.get('settings.language_frontend_toggle') == 1 %}
                    <div class="sp-flex-none sp-w-full sm:sp-w-auto print:sp-hidden">
                        <i class="fas fa-language" title="{{ Lang.choice('general.language', 1) }}"></i> &nbsp;
                        <select name="language" class="sp-bg-primary">
                            {% for code, language in languages %}
                                <option value="{{ code }}"
                                        {% if code == App.getLocale() %}selected="selected"{% endif %}
                                        {% if attribute(returnTo, code) is defined %}data-return-to="{{ attribute(returnTo, code) }}"{% endif %}>
                                    {{ language }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="footerdown">
        <div class="container">
            <div class="inner-footerdown">
                <p>Copyright 2023 | <a href="https://tpc-hosting{lang key='link'}/">TPC Hosting</a> | All Rights Reserved | Powered by <a href="https://tpc-management.ro/">® The Projekt Company</a></p>
                <ul>
                    <li><a href="https://www.facebook.com/TheProjektCompany"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/The_Projekt_Co"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/@tpchosting"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/The_Projekt_Company/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.pinterest.com/The_Projekt_Company/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/theprojektcompany/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    {{ View.fireHook('frontend.footer') }}

    {% include 'frontend.' ~ template ~ '.footer_common' %}

    <script src="{{ asset_rev('resources/assets/frontend/js/main.js')}}"></script>

    {% block scripts_footer %}{% endblock %}

    {{ View.fireHook('frontend.body_end') }}

</body>

</html>


<style>
   .footer-A-card h4::before {
        left: 0;
    }
    .footer-A-card-in02 p {
        font-size: 13px !important;
    }
    img.payment-image {
        width: 50px !important;
        height: auto!important;
        margin: 5px;
    }
    .footerdown {
        padding: 25px 0 50px;
    }
    .footer-A-card h4 {
        font-weight: 400;
        font-size: 17px;
    }
    .footer-A-card p {
        font-size: 14px;
        font-weight: 400;
        color: #f5f5f5;
    }
    .footer-A-card ul li a {
        font-weight: 400;
    }
    .inner-footerdown p {
        font-size: 13px;
    }
    .wp-block-social-links .wp-social-link a {
        padding: .10em;
    }
    .wp-block-social-links .wp-social-link svg {
        height: 0.8em;
    }
    .inner-footerdown ul {
        display: flex;
        justify-content: flex-end;
        float: right;
        width: 47%;
        gap: 10px;
    }
    .inner-footerdown ul li a i {
        font-size: 20px;
    }
    span.IosT {
        display: block;
    }
    .footer-A-card p {
        margin: 0;
    }
    .footer-A-card-in p {
        font-size: 13px !important;
    }
    .inner-footerdown {
        justify-content: initial;
    }
    .container {
        max-width: 1200px;
    }
    header.header .navbar a {
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-weight: 500;
    }
    ul.tpc-icon {
        padding: 0;
    }
    header.header .navbar a:hover {
        color: #009245;
    }
    .navbar {
        padding: 16px 1rem;
    }
    ul.dropdown-menu.show li {
        list-style: none;
        padding: 5px  0;
        border-bottom: 1px solid #f5f5f5;
    }
    ul.dropdown-menu.show {
        padding: 0;
        margin: 0;
    }
    ul.dropdown-menu.show li a {
        font-size: 14px;
        text-transform: none;
        transition-duration: .35s;  
    }
    form.form-inline.ml-auto ,
    ul.navbar-nav.toolbar {
        display: none;
    }
    ul.navbar-nav.ml-auto {
        display: none;
    }
    .navbar.main-navbar-wrapper {
        float: right;
        margin-top: -70px;
    }
    div#mainNavbar ul#nav {
        margin-right: 40px !important;
    }
    .footer-A-card ul li a i {
        display: none;
    }
    .footer-A-card h4 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-A-card h4::before {
    top: auto;
    bottom: -10px;
}
.footer-A-card p {
    margin-bottom: 25px;
}
.footer-A-card img {
    margin-bottom: 20px;
}
.footerdown {
    padding: 25px 0 25px;
}
.footer-A-card-img1 {
    margin: unset;
    text-align: left !important;
}
.trusted-stars-service-widget div {
    justify-content: left !important;
    margin: 10px 0px !important;
}
.trusted-stars-service-widget .div {
    display: flex;
    flex-direction: row;
    justify-content: left !important;
    margin: 10px 0px;
}
.footer-A-card-img1 {
    margin: 15px 0px 0px;
}
.footer-A-card-img1 {
    width: 100%;
}
img.payment-imggg {
    width: 100% !important;
    height: auto!important;
    max-width: 59px !important;
}
li.trustpilot a {
    background-color: #fff;
    border: 1px solid #00b67a;
    border-radius: 2px;
    font-size: 0;
}
.footer-imgs {
    display: flex;
    gap: 0px;
    width: 100%;
    flex-direction: row;
}
.footer-imgs .col-6 {
    max-width: 33% !important;
}
img.payment-img {
    width: 100% !important;
    height: auto!important;
    max-width: 217px!important;
}
.payment-Method h4 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.payment-Method h4::before {
    position: absolute;
    content: "";
    background-color: #A9A9A9;
    height: 2px;
    width: 40px;
    top: auto;
    bottom: -10px;
    left: 0px;
}
.footer-A-card-imgs {
    text-align: left !important;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
    @media only screen and (max-width: 100px) and (max-width: 800px) {
        .navbar.main-navbar-wrapper {
            float: none;
            margin-top: 0;
        }
        
    }ul.tpc-icon {
    display: flex;
    gap: 10px;
    margin: 0;
}
.header-icon li {
    list-style-type: none;
}
.header-icon img {
    width: 100%;
    max-width: 29px;
    height: auto;
}

body{
    font-family: 'Roboto', sans-serif;
}
@media only screen and (min-width: 100px) and (max-width: 767px)  {
li.trustpilot {
    padding: 20px 0 20px;
}
li.trustpilot {
    padding: 0px 0 20px !important;
    margin: 0;
    text-align: center;
}
.inner-footerdown {
    flex-direction: column;
}
.footer-A-card-imgs {
    text-align: center;
}
.footer-A-card-in {
    text-align: center;
}
.footer-A-card-in img {
    max-width: 100px;
}
ul.navbar-nav.toolbar {
    display: block !important;
}
ul.navbar-nav.toolbar li.nav-item:nth-child(1) {
    display: none;
}
.topbar-right {
    display: none;
}
ul.tpc-icon {
    justify-content: center;
}
.navbar.navbar-expand-xl.main-navbar-wrapper {
    float: left;
    width: 100%;
    margin: 0px !important;
}
.navbar-nav li {
    padding: 5px 0px;
}
.footer-A-card-in {
    padding: 30px 0px !important;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px)  {
.footer-A-card img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 2px;
}
li.trustpilot {
    margin-left: 0 !important;
    padding-top: 77px !important;
}
li.trustpilot a {
    padding: 6px !important;
    font-size: 11px !important;
}
.inner-footerdown {
    flex-direction: column;
}
}

header.header .topbar {
    padding: 10px 0;
    background-color: #009245;
    color: #fff;
}
header.header .topbar .btn {
    color: #fff;
}
header.header .topbar .active-client .input-group-text{
    color: #fff;
}
header.header .topbar .active-client .btn {
    color: #fff;
}
.navbar.navbar-light {
    background: #114b5f;
}
header.header .navbar a {
    font-size: 15px !important; 
    color: #fff;
    text-decoration: none;
}
.navbar.navbar-expand-xl.main-navbar-wrapper{
    background: #114b5f; 
}
.navbar-nav .dropdown-menu li a{
    color: #333;
}

footer.footer {
    background-color: #353535;
    color: #fff;
    padding: 20px;
}
.footer-A-card ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: 0.4s;
    font-weight: 500;
}
.footer-A-card ul li a:hover {
    color: #009245;
    transition: 0.4s;
}
.footer-A-card ul {
    margin: 0px;
    padding: 0px;
}
.footer-A-card ul li {
    list-style-type: none;
    padding: 5px 0px;
}
.footer-A-card p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.footer-A-card img {
    width: auto;
    height: 60px;
    margin-bottom: 2px;
}
.footer-A {
    background: #114b5f;
    padding: 40px 0px;
}
footer.footer .copyright{
    text-align: left;
    margin: 0px;
}
.footer-A-card h4 {
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0px;
    font-style: normal;
    color: #ffffff;
    font-size: 18px;
    position: relative;
}
.footer-A-card h4::before{
    position: absolute;
    content: "";
    background-color: #A9A9A9;
    height: 2px;
    width: 40px;
    top: 25px;
    left: -10px;
}
.stat {
    color: #114b5f;
}
.btn-success {
    color: #fff;
    background-color: #009245 !important;
    border-color: #009245 !important;
}
.btn-primary {
    color: #fff;
    background-color: #009245 !important;
    border-color: #009245 !important;
}
.landing-page.sitelock .plans {
    background-color: #009245 !important;
}
.landing-page.sitelock .plans .plan .header {
    background-color: #114b5f !important;
}
.landing-page.sitelock .plans .plan .btn {
    background-color: #114b5f !important;
}
.landing-page.sitelock .features .fas, .landing-page.sitelock .features .far {
    color: #114b5f !important;
}
.sidebar .list-group-item.active, .sidebar .list-group-item.active:focus, .sidebar .list-group-item.active:hover {
    background-color: #114b5f !important;
    border-color: #114b5f !important;
}
.badge-info {
    background-color: #114b5f !important;
}
.landing-page.sitelock .emergency {
    background-color: #009245 !important;
}
.landing-page.sitelock .emergency h2.text-danger {
    color: #114b5f !important;
}
.landing-page.sitelock .emergency .fas, .landing-page.sitelock .emergency .far {
    color: #114b5f !important;
}
.landing-page.sitelock .emergency .btn {
    background-color: #114b5f !important;
    border-color: #114b5f !important;
    color: #fff !important;
}
.landing-page.mail-services .product-options {
    background-color: #009245 !important;
}
.landing-page.mail-services .product-options .icon {
    color: #009245 !important;
}
.landing-page.mail-services .product-options .price {
    color: #009245 !important;
}
.landing-page .product-options .item .btn {
    background-color: #114b5f !important;
}
.landing-page .get-started {
    background-color: #009245 !important;
}
.landing-page .get-started .btn-order-now {
    background-color: #114b5f !important;
}
.landing-page.mail-services .product-options .btn-buy {
    background-color: #009245 !important;
}
.cart-sidebar.sidebar {
    display: none;
}
#order-standard_cart .cart-body{
	width: 100% !important;
}
#order-standard_cart .cart-sidebar{
	display: none !important;
}
.footerdown {
    background: #353535;
    padding: 25px;
}
.inner-footerdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inner-footerdown ul li a {
    color: #fff;
    text-decoration: none;
}
.inner-footerdown ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
}
.inner-footerdown ul {
    margin: 0px;
    padding: 0px;
}
.inner-footerdown p {
    color: #a7a7a7;
    font-size: 14px;
    margin: 0px;
}
.inner-footerdown p a {
    color: #fff;
    text-decoration: none;
}
.option .form-control-static {
    background: #e9ecef;
    padding: 6px;
    border: 1px solid #ced4da;
    margin-left: 60px;
    border-radius: 4px 0px 0px 4px;
    color: #495057;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-right: -5px;
}
.categories-collapsed {
    display: none !important;
}

.topbar-left span {
    margin: 0px 3px;
}

.topbar-left a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}
.topbar-right a {
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
    text-decoration: none;
}
.topbar-right {
    text-align: right;
}

.footer-A-card-in {
    margin-top: 20px;
}
.footer-A-card-in p {
    font-size: 12px;
    text-align: center;
}

.footer-A-card-in img {
    width: 100%;
    height: auto;
    margin-bottom: 1px;
}
/*li.trustpilot {
    margin-top: 20px;
    margin-left: 20px;
}*/

li.trustpilot a {
    background: #fff;
    color: #333 !important;
    padding: 10px;
    border-radius: 2px;
}
.footer-A-card-img1 img {
    width: 100%;
}
.footer-A-card-img1 {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    width: 40%;
    height: auto;
}
.footer-A-card-img1 img {
    width: 100%;
    height: auto;
}
li.trustpilot a span {
    color: #009245;
    font-size: 18px;
}

</style>